<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<title>Profilo</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

	<nav class="navbar bg-body-tertiary">
		<div class="container">
			<a class="navbar-brand" th:href="@{/user}">
				<img th:src="@{/img/Account_Circle.png}" alt="Icon_Account" width="50" height="50">
			</a>
		</div>
	</nav>

	<div class="container">

		<aside>

			<img src="@{/img/Account_Circle.png} " alt="Icon_Account">
			<h2 th:text="${user.username}"></h2>
			<h2 th:text="${user.email}"></h2>
			<h2>
				<span th:if="${user.disponibile}" th:text="'Disponibile">Disponibile</span>
				<span th:unless="${user.disponibile}" th:text="'Non Disponibile">Non Disponibil</span>
			</h2>
			<div class="form-check">
				<div class="toggles">
					<label for="disponibile">
						Disponibile
						<input type="checkbox" id="disponibilie" th:checked="${user.disponibile}" disabled>
						<span class="lever"></span>
					</label>
				</div>
				<a th:href="@{|/user/edit/${user.id}|}" class="btn btn-primary">

		</aside>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ticket</th>
					<th scope="col">Utente</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ticket : ${ticketList}">
					<td th:text="${ticket.title}"></td>
					<td th:text="${ticket.user.username}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>